
# use a private key other than "$HOME/.ssh/id_rsa to pull private git repo
SCM_SSH_KEY_PATH="$HOME/.ssh/other_id_rsa"

S3_ENDPOINT='https://s3.amazonaws.com'
S3_REGION='us-east-1'
S3_BUCKET='my-bucket-name'
S3_PREFIX='top-level-dir'
S3_ACCESS_KEY_ID='ChangeMe'
S3_SECRET_ACCESS_KEY='ChangeMe'

SECRET_KEY=$(strings /dev/urandom | grep -o '[[:alnum:]]' | head -n 30 | tr -d '\n'; echo)

# only used locally
SERVER_PORT=8080
